/*Header and Footer style*/
.headerTitle{
    color: white;
    font-size: 28px;
}

.header {
    color: #ffffff;
    padding: 16px 50px !important;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    padding: 0;
    margin: 0;
}

  nav ul .navLinks{
    margin: 0 10px;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.7px;
}